body {
  /*min-height: 2000px;*/
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-580149.jpg); */
  background-color: #FFF;
}

.centered {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.green {
  color: green;
  padding-right: 10px;
}

.red {
  color: red;
  padding-right: 10px;
}

.chartTable {
  margin-bottom: 2em;
}


@media only screen and (max-width: 360px) {
  body {
    font-size: 1.2em;
    width: auto;
  }
  .container {
    padding: 0;
  }
  .navbar-header {
    margin: 0;
  }
}
