html, body {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', serif;
  /* background-color: #323232; */

}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#App {
  flex: 1 0 auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
