html, body {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'roboto', serif;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 620px) {
  .container {
    width: 550px;
  }
}
